/* Write your CSS here */

.items {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 10px;
}

.image {
  height: 200px;
  border-radius: 10px;
  margin-bottom: 10px;
}
.name {
  color: #000000;
  font-family: 'Roboto';
  font-size: 13px;
  text-align: center;
}
